@page "/orders/add"
@page "/orders/edit/{OrderId:guid}"
@using Microsoft.AspNetCore.Components.Forms;
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage2;


<p>
    @pageTitle
</p>

<br />
<br />

<EditForm Model="@orderModel" OnValidSubmit="onValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />


    <div class="form-row">
        <div class="form-group col">
            <label>Order Name</label>
            <InputText @bind-Value="orderModel.Name" class="form-control" />
            @*<ValidationMessage For="@(()=>orderModel.Name)" />*@
        </div>

        <div class="form-group col">
            <label>Expire Date</label>

            <InputDate class="form-control" @bind-Value="orderModel.ExpireTime" />
            <ValidationMessage For="@(()=>orderModel.ExpireTime)" />
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col">
            <label>Created User Name</label>

            @if (!OrderId.IsNull())
            {
                <input value="@orderModel.CreateUserFullName" class="form-control" disabled />
            }
            else
            {
                <input value="@myFullName" class="form-control" type="text" disabled />
            }
        </div>

        <div class="form-group col">
            <label>Supplier</label>

            <SupplierDropDown @bind-Value="orderModel.SupplierId" @bind-Value:event="ValueChanged" />
            <ValidationMessage For="@(()=>orderModel.SupplierId)" />
        </div>
    </div>

    <div class="form-row">
        <label>Order Description</label>
        <InputTextArea class="form-control" @bind-Value="orderModel.Description" />
    </div>


    <br />
    <div class="form-group">
        <SaveButtonComponent Caption="Save" />
        <CancelButtonComponent Caption="Cancel" OnClick="goBackOrderList" />
    </div>


</EditForm>


@code {

    [Parameter]
    public Guid OrderId { get; set; }

    [Inject]
    HttpClient HttpClient { get; set; }

    [Inject]
    ModalManager ModalManager { get; set; }

    [Inject]
    NavigationManager NavigationManager { get; set; }

    [Inject]
    ILocalStorageService LocalStorageService { get; set; }


    OrderDto orderModel = new();

    String pageTitle = "Create Order";
    String myFullName = "";


    protected async override Task OnInitializedAsync()
    {
        try
        {
            if (!OrderId.IsNull()) // updating
            {
                orderModel = await HttpClient.GetServiceResponseAsync<OrderDto>("api/Order/OrderById/" + OrderId);
                pageTitle = "Edit Order";
            }

            myFullName = await LocalStorageService.GetUserFullName();
        }
        catch (ApiException ex)
        {
            await ModalManager.ShowMessageAsync("Api Exception", ex.Message);
        }
    }

    async Task onValidSubmit()
    {
        Console.WriteLine(orderModel.SupplierId);

        String url = "api/Order/CreateOrder";
        if (!OrderId.IsNull())
            url = "api/Order/UpdateOrder";

        try
        {
            var supplier = await HttpClient.GetServiceResponseAsync<SupplierDto>("api/Supplier/SupplierById/"+orderModel.SupplierId);
            orderModel.SupplierName = supplier.Name;
            orderModel.CreateUserId = new Guid(await LocalStorage2.GetItemAsync<string>("UserId"));//await LocalStorageService.GetUserId();
            Console.WriteLine(orderModel.CreateUserId);
            orderModel.CreateUserFullName = await LocalStorageService.GetUserFullName();
            orderModel = await HttpClient.PostGetServiceResponseAsync<OrderDto, OrderDto>(url, orderModel, true);
            goBackOrderList();
        }
        catch (ApiException ex)
        {
            await ModalManager.ShowMessageAsync("Api Exception", ex.Message);
        }
    }

    void goBackOrderList()
    {
        NavigationManager.NavigateTo("/orders");
    }

}
